.tag {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 37px;
  min-width: 100px;
  margin-right: 10px;
  border-radius: 0.25rem;

  &__text {
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    font-size: 14px;
  }
}

.fa-times-circle {
  color: white;
}
