.dropdown-toggle::after {
  display: none !important;
}

.dropdown-size {
  min-width: 170px;
  min-height: 70px;
  margin-right: 20px;
  margin-bottom: 0px;
}

.dropdown-input {
  color: white !important;
  border: none;
}

#dropdown {
  width: auto !important;
}

input::-webkit-input-placeholder {
  color: white;
}

input::-moz-placeholder {
  color: white;
}

input:-ms-input-placeholder {
  color: white;
}

input::-ms-input-placeholder {
  color: white;
}

input::placeholder {
  color: white;
}

input:focus-visible {
  background: transparent;
  outline: none;
}

.btn-dropdown {
  display: flex !important;
  flex-direction: row !important;
  color: white !important;
  font-size: 18px !important;
  line-height: 22px !important;
}

.icon-dropdown {
  margin-left: 50px;
}

.dropdown-menu.show {
  display: flex !important;
  flex-wrap: wrap;
}

.menuIngredients {
  @include menuDropdown;
}

.menuAppliances {
  @include menuDropdown;
}

.menuUstensils {
  @include menuDropdown;
}
